<div class="shop">
    <mdk-page-base [loaded]="contentLoaded">
        <h1>Shop</h1>
        <div class="grid-container">
            <div class="grid">
                <div class="col-12 md:col-6 lg:col-4" *ngFor="let card of artWorks">
                    <mdk-card
                        (click)="navigateToArtwork(card.id)"
                        [showLoader] = "cardCurrentlyLoading === card.id"
                        [title]="card.title"
                        [image]="card.image"
                        [artist]="card.artist"
                    ></mdk-card>
                </div>
            </div>
        </div>
    </mdk-page-base>
</div>