$primary-backround: #272727;

$primary-text-color: #DDD;
$highlight-text-color: #bf9f63;
$empahsis-text-color: rgb(235, 233, 207);
$highlight-border-color: rgb(148, 147, 128);
$secondary-text-color: #444;
$alert-text-color: #660808;

$primary-font: 'Montserrat', sans-serif;
$title-font: 'Roboto Slab', serif;

$header-height: 64px;

$sm: 576px;
$md: 768px;